* {
    font-family: Arial, Helvetica, sans-serif;
    color: #3f3f3f;
}

nav {
    justify-self: center;
}

.avatar {
    border: 1px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center -20px;

}

.prueba {
    width: 50px;
    height: 50px; 
    background-color: red;
    margin-left: 10px;
    
}


footer {
    position: fixed;
    bottom: 0;
    justify-self: center;
}